---
import SearchingJob from "./icons/SearchingJob.astro";
---

<span>
    <SearchingJob fill="#222222" width="15" />
    Disponible para trabajar
</span>

<style>
    @property --bg-angle {
        inherits: false;
        initial-value: 0deg;
        syntax: "<angle>";
    }

    span {
        color: var(--eerie-black);
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;
        padding: 5px;
        border-radius: 20px;
        font-size: 12px;
        transition: transform 0.3s;
        cursor: pointer; 
        animation: spin 3s infinite linear;

        background:
            linear-gradient(
                    to bottom,
                    #EE964B,
                    #EE964B
                )
                padding-box,
            /* ends at inner border edges */
                conic-gradient(
                    from var(--bg-angle) in oklch shorter hue,
                    oklch(67.13% 0.203 32.89),
                    oklch(94.23% 0.22156021800723918 119.0462836860343),
                    oklch(74.97% 0.139 58.59),
                    oklch(72.3% 0.05 247.57)
                )
                border-box; 

        border: 1.5px solid transparent;

        &:hover {
            animation-play-state: paused;
        }
    }

    span:hover {
        transform: scale(1.02);
        animation-play-state: running;
    }

    @keyframes spin {
        to {
            --bg-angle: 360deg;
        }
    }
</style>
