<section id="greetings">
    <h1>Sobre Mí</h1>
    <p>
        ¡Hola! Soy Jeremy Encalada, un futuro ingeniero en Ciencias de la
        Computación con una gran pasión por la tecnología y la innovación. He
        tenido la increíble oportunidad de participar en diversas hackatones,
        desafiando mis límites y colaborando con talentosos compañeros para
        crear soluciones sorprendentes en tiempo récord.
    </p>
    <p>
        Mi amor por el desarrollo web abarca tanto el backend como el frontend,
        y siempre estoy explorando nuevas formas de crear experiencias web
        atractivas y funcionales. Aunque JavaScript es mi lenguaje favorito,
        estoy abierto a aprender y trabajar con cualquier tecnología que me
        permita resolver problemas de manera eficiente.
    </p>

    <p>
        Además, mi interés no se limita al desarrollo de software. Tengo una
        gran pasión por el desarrollo móvil y disfruto enfrentándome a los retos
        únicos que presenta. También soy un entusiasta del hardware de las
        computadoras, el entorno de Linux y la automatización de procesos al
        estilo DevOps, buscando siempre optimizar y mejorar los sistemas con los
        que trabajo.
    </p>

    <p>
        Estoy siempre en la búsqueda de nuevos desafíos y oportunidades para
        crecer como profesional y contribuir al fascinante mundo de la
        tecnología. ¡Vamos a construir el futuro juntos!
    </p>
</section>


<style>
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    section {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        color: var(--eerie-black);
        line-height: 1.5;
    }

    p {
        margin-bottom: 1rem;
    }
</style>