<section id="projects">
    <h1>Proyectos</h1>
</section>

<style>
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    section {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        color: #e9e3e3;
        line-height: 1.5;
        text-align: justify;
    }
</style>